<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:p="http://www.springframework.org/schema/p"
   xmlns:util="http://www.springframework.org/schema/util"
  xsi:schemaLocation="http://www.springframework.org/schema/beans 
  http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/util
     http://www.springframework.org/schema/util/spring-util.xsd">
     
   <!--   <bean id="ent" class="com.concretepage.Entitlement">
       <property name="name" value="Entitlement"/>
       <property name="time" value="50"/>
    </bean>
    <alias name="ent" alias="alias_ent"/>-->
    
    <bean id ="ent" class="com.tcs.beans.Entitlement" p:name="entitlment" p:time="10"/>
     <alias name="ent" alias="alias_ent"/>
</beans> 