<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="parentscollection" class="com.tcs.bean.Mycollection">

		<property name="mySet">
			<set>
				<value>AAA</value>
				<value>BBB</value>
				<value>CCC</value>

			</set>
		</property>
	</bean>

	<bean id="childcollection" parent="parentscollection">
		<property name="mySet">
			<set>

				<value>DDD</value>
				<value>EEE</value>


			</set>
		</property>
	</bean>




</beans>